@import "tailwindcss";
@import "@fontsource-variable/geist";
@import "@fontsource/audiowide";
@import "@fontsource-variable/oxanium";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-heading: var(--font-audiowide);
    --font-audiowide: 'Audiowide', sans-serif;
    --font-sans: 'Geist Variable', sans-serif;
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
}

:root {
    --background: oklch(0.999 0.01 110.1);
    --foreground: oklch(0.149 0.01 110.1);
    --primary: oklch(0.478 0.578 31.1);
    --primary-foreground: oklch(0.928 0.578 31.1);
    --secondary: oklch(1.000 0.01 110.1);
    --secondary-foreground: oklch(0.249 0.01 110.1);
    --muted: oklch(87.358% 0.01209 106.78);
    --muted-foreground: oklch(0.549 0.01 110.1);
    --accent: oklch(0.361 0.402 26.7);
    --accent-foreground: oklch(0.249 0.01 110.1);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.899 0.01 110.1);
    --input: oklch(0.899 0.01 110.1);
    --ring: oklch(0.699 0.01 110.1);
    --radius: 0px;
}

.dark {
    --background: oklch(0.212 0 158.2);
    --foreground: oklch(1.000 0 158.2);
    --primary: oklch(0.478 0.578 31.1);
    --primary-foreground: oklch(0.928 0.578 31.1);
    --secondary: oklch(0.292 0 158.2);
    --secondary-foreground: oklch(1.000 0 158.2);
    --muted: oklch(0.292 0 158.2);
    --muted-foreground: oklch(0.662 0 158.2);
    --accent: oklch(0.361 0.402 26.7);
    --accent-foreground: oklch(1.000 0 158.2);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.512 0 158.2);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
