---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page Not Found">
  <div class="max-w-full w-full flex flex-1 justify-center items-center h-full">
    <h1 class="text-7xl text-center font-audiowide">
      The page you are looking for cannot be found
    </h1>
  </div>
</Layout>
