---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page Not Found" single_screen={true}>
  <div class="flex items-center h-full">
    <h1 class="text-7xl text-center font-audiowide h-min">
      The page you are looking for cannot be found
    </h1>
  </div>
</Layout>
