---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Current Member">
  <div class="max-w-3xl mx-auto px-4 py-16">
    <iframe
      src="https://calendar.google.com/calendar/embed?src=c_c5500f600227051e9a84741368561a20b440914798871e717326cab71ee08e0c%40group.calendar.google.com&ctz=America%2FNew_York"
      style="border: 0"
      width="800"
      height="600"
      frameborder="0"
      scrolling="no"></iframe>
  </div>
</Layout>
