---
import { Image } from 'astro:assets';
import ImageSlider from "../components/ImageSlider.astro";
import Layout from "../layouts/Layout.astro";
import RobotImage from "/src/assets/generic/FRC_robot_homepage.jpg";

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/slider/*.{png,JPG,jpg,jpeg,webp,svg}",
  { eager: true },
);
const srcs = Object.values(images).map((image) => image.default.src);
---

<Layout title="Home">
  {/*Slider*/}
  <ImageSlider images={srcs}>
    <div
      class="absolute inset-0 z-1 flex flex-col justify-center bg-red-500/50 text-white"
    >
      <div class="p-2 text-center">
        <h2 class="text-9xl font-bold">
          From small changes<br>come big differences.
        </h2>
        <h3 class="mt-1.5 font-medium text-6xl font-audiowide">
          <i>Epsilon Delta</i>
        </h3>
      </div>
    </div>
  </ImageSlider>

  {/*small about us*/}
  <div class="m-16 flex flex-row gap-16">
    <Image
      src={RobotImage}
      alt="FRC Robot"
      class="w-[50%] aspect-10/9 object-cover object-center flex-1"
    />

    <div class="flex flex-col flex-1 justify-center">
      
      <h2 class="text-8xl font-audiowide mb-8"><i>About Us</i></h2>

      <div class="text-lg text-primary-foreground mb-16">
        <p>
          Epsilon Delta, team 116, is a Herndon High School robotics team,
          dedicated to inspiring the next generation of engineers and
          innovators. Competing in both the FIRST Robotics Competition (FRC) and
          FIRST Tech Challenge (FTC), we provide students with hands-on
          experience in STEM. Established in 1996, Epsilon Delta has a proud and
          long legacy of innovation, teamwork, and excellence in robotics
          competitions.
        </p>
      </div>

      <div class="flex flex-row w-full justify-center gap-8 mb-8">
        {[
          {
            top_text: "30+",
            text: "Years of History"
          },
          {
            top_text: "50+",
            text: "Inspired Members"
          },
          {
            top_text: "1,000+",
            text: "Lives Changed"
          },
        ].map((element) => (
          <div class="flex flex-col justify-center text-center font-audiowide">
            <h2 class="text-6xl">{element.top_text}</h2>
            <h4 class="text-xl"><i>{element.text}</i></h4>
          </div>
        ))}
      </div>
      
      <div class="self-center text-2xl px-5 py-2 rounded-full bg-accent font-audiowide">
        <a href="/about-us">Learn More</a>
      </div>
    </div>
  </div>
</Layout>
