---
import Footer from "../components/Footer.astro";
import NavMenu from "../components/NavMenu.astro";
import "../styles/global.css";
import { withBase } from "../utils/url";

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href={withBase("logo.png")} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} · Herndon Robotics</title>

    <!-- Initialize Alpine and make it globally accessible so that one components can access and use it-->
    <script>
      import Alpine from "alpinejs";
      window.Alpine = Alpine;
    </script>

    <!--
      this code is to prevent the color from flashing when the page loads and also toggle dark-mode automatically when the mode changes
    -->
    <script is:inline>
      const media = window.matchMedia("(prefers-color-scheme: dark)");
      const applyTheme = (e) =>
        document.documentElement.classList.toggle("dark", e.matches);
      applyTheme(media);
      media.addEventListener("change", applyTheme);
    </script>
  </head>
  <body class="flex flex-col min-h-dvh">
    <NavMenu />
    <main class="flex-1 content-center">
      <slot />
    </main>
    <Footer />
    <script>
      window.Alpine.start();
    </script>
  </body>
</html>
